* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(200deg, #94b930, #be4096, #291ca4);
    align-items: center;
    min-height: 2000px;
    padding-top: 5%;
}
#header {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    min-height: 25vh;
    width: 100%;
}
.flexrow-container {
    align-items: center;
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    margin-right: 3%;
}
form {
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    margin: 15px 0;
    padding: 0.8rem;
    width: 100%;
}
form input {
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    max-width: 500px;
    transition: background-color 200ms ease-in-out;
    width: 100%;
}
form input.darker-input {
    background-color: #23bb2d;
    color: white;
}
button {
    border: none;
    outline: none; 
    transition: box-shadow 200ms ease, background-color 200ms ease-in-out;
}
button.darker-button {
    background-color: #003700;
    color: white;
}
button.darker-button:hover {
    background-color: #001f29;
}
form button {
    padding: 10px;
    font-size: 17px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    min-width: 100px;
}
#list {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}
h6{
    font-size: large;
}
.todo-list {
    min-width: 25%;
    list-style: none;
}
.todo {
    margin: 1rem;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 0.5em;
    transition: background-color 200ms ease-in-out;
}
.darker-todo {
    background-color: #01394c;
}
.todo li{
    padding: 7px;
    font-size: 20px;
    flex: 1;
    border-radius: 30px;
    overflow-wrap: anywhere;
}
.check-btn, .delete-btn {
    font-size: 19px;
    cursor: pointer;
    width: 2em;
    height: 2em;
    border-radius: 80%;
    margin: 0 5px;
}
.todo-item {
    padding: 0rem 0.5rem;
}
.completed {
    transition: 0.2s;
    text-decoration: line-through;
    opacity: 0.5;
}
.fall {
    transition: 0.5s;
    transform: translateY(45rem) rotateZ(45deg);
    opacity: 0;
}